{% extends './layout/layout.html' %}
<!-- . -->
{% block content %}
<!-- . -->
{% load static %}

<div class="flex w-full flex-col h-full p-6 2xl:p-0">
  <main class="flex flex-col md:flex-row items-center justify-center">
    <div class="w-full flex flex-col gap-4">
      <div class="flex flex-col space-y-1.5">
        <h3 class="text-2xl font-semibold leading-none tracking-tight">
          Dashboard
        </h3>
        <p class="text-sm text-muted-foreground">
          Selecione um módulo para gerenciar seu gado.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-6 w-full min-h-48">
        <div
          class="flex flex-col gap-6 items-center justify-center rounded-lg h-full w-full min-w-60 border bg-[#18181b] text-[#f1f1f1] shadow-sm p-4 hover:bg-[#393941] transition-colors">
          <span>Total de gado</span>
          <span class="text-7xl text-center font-semibold">
            {{ total_gado }}
          </span>
        </div>

        <div
          class="flex flex-col gap-6 items-center justify-center rounded-lg h-full w-full min-w-60 border bg-[#18181b] text-[#f1f1f1] shadow-sm p-4 hover:bg-[#393941] transition-colors">
          <span>Total de dados RFID</span>
          <span class="text-7xl text-center font-semibold">
            {{ total_registros }}
          </span>
        </div>
      </div>
      <div class="grid grid-cols-3 gap-6 w-full">
        <div>
          <button
            id="dropdownDefaultButton1"
            data-dropdown-toggle="dropdown1"
            class="w-full h-16 justify-between border bg-[#E0E1E1] text-card-foreground shadow-sm p-4 hover:bg-muted transition-colors font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
            type="button">
            Gerenciar Gado
            <svg
              class="w-2.5 h-2.5 ms-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </button>

          <!-- Dropdown menu -->
          <div
            id="dropdown1"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700">
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-200"
              aria-labelle
              w-fulldby="dropdownDefaultButton1">
              <a
                href="/cadastro/gado"
                class="rounded-lg h-full relative bg-card text-card-foreground p-4 hover:bg-muted transition-colors block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <div class="flex flex-col space-y-1.5 p-6">
                  <h3
                    class="text-2xl font-semibold leading-none tracking-tight">
                    Cadastro
                  </h3>
                  <p class="text-sm text-muted-foreground">
                    Realize o cadastro de gado.
                  </p>
                </div>
              </a>
              <a
                href="/listagem/gado"
                class="rounded-lg h-full relative bg-card text-card-foreground p-4 hover:bg-muted transition-colors block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <div class="flex flex-col space-y-1.5 p-6">
                  <h3
                    class="text-2xl font-semibold leading-none tracking-tight">
                    Listagem de cadastros
                  </h3>
                  <p class="text-sm text-muted-foreground">
                    Listagem de cadastros de gado.
                  </p>
                </div>
              </a>
            </ul>
          </div>
        </div>

        <div>
          <button
            id="dropdownDefaultButton2"
            data-dropdown-toggle="dropdown2"
            class="w-full h-16 justify-between border bg-[#E0E1E1] text-card-foreground shadow-sm p-4 hover:bg-muted transition-colors font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
            type="button">
            Gerenciar Vacinação
            <svg
              class="w-2.5 h-2.5 ms-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </button>

          <!-- Dropdown menu -->
          <div
            id="dropdown2"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700">
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-200"
              aria-labelle
              w-fulldby="dropdownDefaultButton2">
              <a
                href="/cadastro/gado"
                class="rounded-lg h-full relative bg-card text-card-foreground p-4 hover:bg-muted transition-colors block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <div class="flex flex-col space-y-1.5 p-6">
                  <h3
                    class="text-2xl font-semibold leading-none tracking-tight">
                    Cadastro de vacinação
                  </h3>
                  <p class="text-sm text-muted-foreground">
                    Realize o cadastro de vacinação.
                  </p>
                </div>
              </a>
              <a
                href="/cadastro/gado"
                class="rounded-lg h-full relative bg-card text-card-foreground p-4 hover:bg-muted transition-colors block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <div class="flex flex-col space-y-1.5 p-6">
                  <h3
                    class="text-2xl font-semibold leading-none tracking-tight">
                    Listagem de vacinação
                  </h3>
                  <p class="text-sm text-muted-foreground">
                    Listagem de vacinação.
                  </p>
                </div>
              </a>
            </ul>
          </div>
        </div>

        <div>
          <button
            id="dropdownDefaultButton3"
            data-dropdown-toggle="dropdown3"
            class="w-full h-16 justify-between border bg-[#E0E1E1] text-card-foreground shadow-sm p-4 hover:bg-muted transition-colors font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
            type="button">
            Gerenciar Nascimento
            <svg
              class="w-2.5 h-2.5 ms-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </button>

          <!-- Dropdown menu -->
          <div
            id="dropdown3"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700">
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-200"
              aria-labelle
              w-fulldby="dropdownDefaultButton3">
              <a
                href="/cadastro/gado"
                class="rounded-lg h-full relative bg-card text-card-foreground p-4 hover:bg-muted transition-colors block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <div class="flex flex-col space-y-1.5 p-6">
                  <h3
                    class="text-2xl font-semibold leading-none tracking-tight">
                    Cadastro de nascimento
                  </h3>
                  <p class="text-sm text-muted-foreground">
                    Realize o cadastro de nascimento.
                  </p>
                </div>
              </a>
              <a
                href="/cadastro/gado"
                class="rounded-lg h-full relative bg-card text-card-foreground p-4 hover:bg-muted transition-colors block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <div class="flex flex-col space-y-1.5 p-6">
                  <h3
                    class="text-2xl font-semibold leading-none tracking-tight">
                    Listagem de nascimento
                  </h3>
                  <p class="text-sm text-muted-foreground">
                    Listagem de nascimento.
                  </p>
                </div>
              </a>
            </ul>
          </div>
        </div>
      </div>

      <a
        href="/listagem/rfid"
        class="flex flex-col gap-6 items-center justify-center rounded-lg h-full w-full min-w-60 border-2 border-[#18181b] text-[#18181b] shadow-sm p-4 hover:bg-[#18181b20] transition-colors">
        <div class="flex flex-col space-y-1.5 p-6">
          <h3 class="text-2xl font-semibold leading-none tracking-tight">
            Métricas do RFID
          </h3>
          <p class="text-sm text-muted-foreground">
            Listagem de registros e métricas do RFID.
          </p>
        </div>
      </a>
      <div class="flex flex-col gap-6">
        <form
          id="filterForm"
          class="flex flex-row items-center justify-between gap-4 bg-[#18181b] text-[#f1f1f1] p-4 rounded-lg m-2">
          <span>Gado cadastrado ao decorrer do ano</span>
          <div class="flex flex-row items-center gap-4">
            <!-- <label for="year">Selecione o ano para filtrar:</label> -->
            <select
              class="flex h-10 text-[#18181b] items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;>span]:line-clamp-1 m-0 w-[180px]"
              name="year"
              id="year"
              onchange="loadAllCharts(this.value)"></select>
          </div>
        </form>
        <canvas id="CattleChart" class="max-h-[300px]"></canvas>
        <!-- <canvas id="FertilityChart"></canvas>
        <canvas id="VaccinationChart"></canvas> -->
      </div>
      <div
        id="gerar-gado-aleatorio"
        class="flex flex-col gap-6 cursor-pointer items-center justify-center rounded-lg h-full w-full min-w-60 border bg-[#E0E1E1] text-card-foreground shadow-sm p-4 hover:bg-muted transition-colors">
        <span class="select-noneG">Gerar 5 animais aleatórios</span>
      </div>
    </div>
    <!-- <div class="w-full md:w-1/2 mt-8 md:mt-0 md:ml-8">
      <div
        class="flex aspect-video justify-center text-xs [&amp;_.recharts-cartesian-axis-tick_text]:fill-muted-foreground [&amp;_.recharts-cartesian-grid_line[stroke='#ccc']]:stroke-border/50 [&amp;_.recharts-curve.recharts-tooltip-cursor]:stroke-border [&amp;_.recharts-dot[stroke='#fff']]:stroke-transparent [&amp;_.recharts-layer]:outline-none [&amp;_.recharts-polar-grid_[stroke='#ccc']]:stroke-border [&amp;_.recharts-radial-bar-background-sector]:fill-muted [&amp;_.recharts-rectangle.recharts-tooltip-cursor]:fill-muted [&amp;_.recharts-reference-line_[stroke='#ccc']]:stroke-border [&amp;_.recharts-sector[stroke='#fff']]:stroke-transparent [&amp;_.recharts-sector]:outline-none [&amp;_.recharts-surface]:outline-none min-h-[300px]"
        data-chart="chart-Rqkjtttb">
        <style>
          [data-chart='chart-Rqkjtttb'] {
            --color-desktop: hsl(var(--chart-1));
            --color-mobile: hsl(var(--chart-2));
          }
          .dark [data-chart='chart-Rqkjtttb'] {
            --color-desktop: hsl(var(--chart-1));
            --color-mobile: hsl(var(--chart-2));
          }
        </style>
        <div
          class="recharts-responsive-container"
          style="width: 100%; height: 100%; min-width: 0"></div>
      </div>
    </div> -->
  </main>
</div>

<script>
  let cattleCtx = document.getElementById('CattleChart')
  let CattleChart = new Chart(cattleCtx, {
    type: 'line',
    options: {
      responsive: true,
      title: {
        display: false,
        text: '',
      },
    },
  })
</script>

<script>
  $(document).ready(function () {
    $.ajax({
      url: '/dashboard/cattle/filter-options',
      type: 'GET',
      dataType: 'json',
      success: (jsonResponse) => {
        // Load all the options
        jsonResponse.options.forEach((option) => {
          $('#year').append(new Option(option, option))
        })

        // Load data for the first option
        loadAllCharts($('#year').children().first().val())

        console.log(jsonResponse)
      },
      error: () => console.log('Failed to fetch chart filter options!'),
    })
  })

  $('#filterForm').on('submit', (event) => {
    event.preventDefault()

    const year = $('#year').val()
    loadAllCharts(year)
  })

  function loadChart(chart, endpoint) {
    console.log('loadChart', endpoint)

    $.ajax({
      url: endpoint,
      type: 'GET',
      dataType: 'json',
      success: (jsonResponse) => {
        console.log('jsonResponse', jsonResponse)

        // Extract data from the response
        const title = jsonResponse.title
        const labels = jsonResponse.data.labels
        const datasets = jsonResponse.data.datasets

        // Reset the current chart
        chart.data.datasets = []
        chart.data.labels = []

        // Load new data into the chart
        chart.options.title.text = title
        chart.options.title.display = true
        chart.data.labels = labels
        datasets.forEach((dataset) => {
          chart.data.datasets.push(dataset)
        })
        chart.update()
      },
      error: () =>
        console.log('Failed to fetch cattle data from ' + endpoint + '!'),
    })
  }

  function loadAllCharts(year) {
    loadChart(CattleChart, `/dashboard/cattle/${year}/`)
    // loadChart(FertilityChart, `/shop/cattle/fertility/${year}/`)
    // loadChart(VaccinationChart, `/shop/cattle/vaccination/${year}/`)
  }

  $('#gerar-gado-aleatorio').on('click', function () {
    $.ajax({
      url: '/gerar-gado-aleatorio',
      type: 'GET',
      success: (jsonResponse) => {
        console.log('Apertou a rota de gerar gado aleatorio')
      },
    })
  })
</script>

{% endblock %}
